In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
import itertools
from sklearn.model_selection import KFold
from sklearn.metrics import log_loss, accuracy_score
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

まずは導入  
Macの環境では「esc + h」でショートカットを確認可能  
「esc + m」でマークダウンに変更可能  
「esc + y」でコードに変更可能

In [11]:
train = pd.read_csv('../input/ch01-titanic/train.csv')
test = pd.read_csv('../input/ch01-titanic/test.csv')

学習データ、テストデータの読み込みを行なっている。

In [15]:
train_x = train.drop(['Survived'], axis = 1)
trainy = train['Survived']

学習データは特徴量と目的変数に分けている。

In [16]:
test_x = test.copy()

テストデータは特徴量のみなのでそのままコピーしている。
pythonのコピーについて「deepcopy」とかいうのがあるらしくcopyとの違いがわからないので参考urlを貼っておく。
https://murashun.jp/article/programming/python/python-list-copy-deepcopy.html

# 特徴量作成

In [17]:
train_x = train_x.drop(['PassengerId'], axis = 1)
test_x = test_x.drop(['PassengerId'], axis = 1)

変数PassengerIdを除外している。

In [18]:
train_x.drop(['Name', 'Ticket', 'Cabin'], axis = 1)
test_x.drop(['Name', 'Ticket', 'Cabin'], axis = 1)

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

変数Name, Ticket, Cabinを除外する。

In [21]:
for c in ['Sex', 'Embarked']:
    le = LabelEncoder()
    le.fit(train_x[c].fillna('NA'))
    train_x[c] = le.transform(train_x[c].fillna('NA'))
    test_x[c] = le.transform(test_x[c].fillna('NA'))

それぞれのカテゴリ変数にlabel encodeingを適用している

In [ ]:
a = 1